<nav class="navbar navbar-expand-lg py-2">
  <div class="container-fluid mx-4">

    <a class="navbar-brand logo fs-3" href="#">Navbar</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>

        <!-- Dropdown -->
        <div class="dropdown mx-2 me-2">
          <button type="button" class="btn btn-success dropdown-toggle toggle1" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
              <!-- Changing the default icon with toggle-->
              <i class="fa fa-plus-circle"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-lg-end mt-3">
            <a class="dropdown-item" href="#">Option A</a>
            <a class="dropdown-item" href="#">Option B</a>
            <a class="dropdown-item" href="#">Option C</a>
            <a class="dropdown-item" href="#">Option D</a>
          </div>
        </div>

        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>

      {% comment %} Formulaire de recherche {% endcomment %}
      <form class="d-flex me-4">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-success" type="submit">Recherche</button>
      </form>

      {% comment %} Drodown Menu {% endcomment %}
      <div class="dropdown">
        <!-- Dropdown button -->
        <button type="button" class="btn btn-success toggle2" data-bs-toggle="dropdown" aria-expanded="false">
          Compte
          <!-- Changing the default icon with toggle-->
          <i class="fa fa-plus-circle"></i>
          {% comment %} <i class="fa fa-minus-circle"></i> {% endcomment %}
        </button>
        <div class="dropdown-menu dropdown-menu-lg-end mt-3">
          <a class="dropdown-item" href="#">Option A</a>
          <a class="dropdown-item" href="#">Option B</a>
          <a class="dropdown-item" href="#">Option C</a>
          <a class="dropdown-item" href="#">Option D</a>
        </div>
      </div>

    </div>

  </div>
</nav>