@import url("https://fonts.googleapis.com/css2?family=Proza+Libre:ital,wght@1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&family=Proza+Libre:ital,wght@1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap");

/* HTML BASE */
html,
body {
	font-family: "Montserrat", sans-serif;
	background-color: #2c525f !important;
}

/* Navbar BASE */
.navbar {
	background-color: #203c46;
	border-bottom: 1px solid #c7f0f0;
}
.navbar,
a {
	color: #c7f0f0 !important;
}


/* Logo */
.logo {
	font-family: "Proza Libre", sans-serif;
	letter-spacing: -1.5px;
}

/* Taille du Texte */
.fw-500 {
	font-weight: 500;
}
.fs-12 {
	font-size: 0.88rem;
	color: #c7f0f0;
}
.fs-14 {
	font-size: 14px;
}
.fs-15 {
	font-size: 0.9375rem;
}

/* Titre */
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #c7f0f0;
}

/* Card */
.infscroll-titre {
	font-size: 22px !important;
	letter-spacing: -0.6px;
}
@media only screen and (max-width: 768px) {
	.infscroll-titre {
		font-size: 1.4rem !important;
		letter-spacing: -0.6px;
	}
	.infscroll-auteur,
	.infscroll-date {
		font-size: 0.8125rem;
	}
}

/* Sous_titre */
.subtitle {
	color: #4e8e8f !important;
}

/* Tags */
/* .tags {
	position: relative; */
/* border-right: 2px solid; */
/* border-color: rgba(
		var(--bs-dark-rgb),
		var(--bs-border-opacity)
	)!important;
	margin-right:-40px;
} */
.border-bottom {
	border-color: rgba(var(--bs-dark-rgb), var(--bs-border-opacity)) !important;
}
