<div class="border-3 border-bottom border-dark">
  <div class="container py-5">

    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 py-1 py-md-5 pe-5 text-md-start">
          <h1 class="display-1">Tech Info</h1>

          <p class="fs-4 lh-2 text-muted fw-500 pb-5 subtitle">
            De nombreuses suites logicielles de mise en page ou éditeurs de sites Web ont fait faux texte par défaut.
          </p>
          <button type="button" class="btn btn-dark rounded-pill fw-500 fs-5 px-4">Commencez la lecture</button>
        </div>
      </div>
    </div>

  </div>
</div>