<div class="border-bottom" id="stnote">
  <div class="mb-5">
    <div class="card shadow">
        <div class="card-header bg-warning font-weight-bold DateSidebar sticky-note" style="pointer-events:inherit;">
          <h5 class="text-center">Date d'aujourd'hui</h5>
        </div>
        <div class="card-body">
          <div class="note-content">
            <p id='current-date'></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include 'blog/components/related_article.html' %}
  {% sidebar_tag_cloud %}
</div>